Source: rapache
Section: web
Priority: optional
Maintainer: Ondřej Surý <ondrej@debian.org>
Build-Depends: debhelper (>= 9), dh-apache2, apache2-dev, r-base-core, r-base-dev, libapreq2-dev
Standards-Version: 3.9.6
Homepage: http://www.rapache.net/

Package: libapache2-mod-r-base
Architecture: any
Depends: ${misc:Depends},
	 ${shlibs:Depends},
	 r-base-core
Description: Apache module for running server-side R programs
 This package provides the R module for the Apache 2 webserver.
 .
 R is a language and environment for statistical computing and graphics.
 By embedding R inside Apache, developers can create dynamic web pages and
 graphics.  Even more compelling is the ability for developers to provide
 web service style access to novel, cutting edge statistical techniques.
